.bio {
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 200;
  font-size: 15px;
  align-self: center;
  width: 95%;
  margin: 0;
  margin-top: 4%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.short-about {
  height: 100%;
  width: 33vw;
  margin-right: 2vmin;
  line-height: 2.7vmin;
}

.short-about h5 {
  margin: 0;
  font-size: 16px;
  font-weight: 300;
}

.short-about span {
  font-weight: 400;
}

.icons {
  height: fit-content;
  width: 20vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.linkicon {
  cursor: pointer;
  position: relative;
  top: 0;
  transition: top ease 150ms;
  width: 10vmin;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  filter: brightness(0.2) sepia(0.8);
}

a {
  text-decoration: none;
}

.linkTitle {
  color: #22201f;
  visibility: hidden;
}

.linkicon:hover {
  top: -5px;
  filter: brightness(0.2);
}

.linkicon:hover .linkTitle {
  visibility: visible;
}

.linkicon img {
  width: 6vmin;
  height: auto;
}

.section1bg {
  min-height: 120vh;
  background-image: url('/whome.png');
  background-repeat: no-repeat;
  background-size: 57%;
  background-position: bottom left;
  background-attachment: fixed;
}

@media screen and (max-width: 950px) {
  .section1bg {
    height: 160vh;
    background-size: 70%;
  }

  .bio {
    align-items: center;
    margin: 0;
  }

  .short-about {
    margin: 0;
    height: fit-content;
    padding: 3vmin;
    background-color: rgba(251, 255, 255, 0.548);
    width: 60vw;
    border-radius: 5px;
  }

  .icons {
    width: 100%;
    justify-content: center;
  }

  .linkTitle {
    visibility: visible;
  }
}

@media screen and (max-width: 650px) {
  .section1bg {
    max-height: 140vh;
    background-size: 80%;
    background-position: bottom left;
  }

  .short-about {
    padding: 0;
    margin: 1vmin;
    width: 75vw;
  }
}

@media screen and (max-width: 550px) {
  .short-about {
    width: 70vw;
    border-radius: 5px;
    line-height: 3.4vmin;
  }

  .icons {
    justify-content: space-evenly;
  }

  .linkicon a {
    text-align: center;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
  h3 {
    font-size: 6vmin;
  }

  .section1bg {
    min-height: 200vh;
    background-attachment: local;
  }

  .short-about h5 {
    font-weight: 400;
  }

  .short-about {
    margin: 0;
    margin-left: 6vmin;
    width: 75vw;
    line-height: 5.5vmin;
  }
}
