.bio {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.bio h3 {
    width: 70%;
}

.story-para {
  width: 60vw;
  display: grid;
  grid-template-rows: 50% 50%;
}

.bio-story {
  grid-row: 1;
}

.readmore {
  display: flex;
  justify-content: start;
  align-items: flex-end;
  grid-row: 2;
  height: 100%;
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0.274), white);
}

.readmore p {
  margin: 0;
  margin-left: 20px;
  cursor: pointer;
}

.readmore p:hover {
  font-weight: 300;
}
