.bio {
  display: flex;
  flex-direction: column;
  margin: 10rem;
}

.story-para {
  display: grid;
  grid-template-rows: 50% 50%;
  height: 200px;
}

.bio-story {
  grid-row: 1;
  overflow: hidden;
  height: 160px;
}

.readmore {
  display: flex;
  justify-content: start;
  align-items: flex-end;
  grid-row: 2;
  height: 100%;
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0.274), white);
}

.readmore p {
    cursor: pointer;
}

