:root {
  background-color: white;
}

a {
  text-decoration: none;
}

h3 {
  font-size: 4vmin;
  font-family: 'font1';
  font-weight: 100;
}

.App-header {
  background-image: url('/maincomputerpic.png');
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: right, center;
  background-attachment: fixed;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 15% 70% 15%;
  grid-template-rows: 10% 80% 10%;
  font-size: 3.5vmin;
  color: #22201f;
}

.background2 {
  z-index: -1;
  grid-column: 1 / span 3;
  grid-row: 1 / span 3;
  background-image: url('/markusspiskea.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100vw 100vh;
}

/* ? screen gif behind laptop but doesn't work responsive */
/* .screen {
  z-index: -1;
  margin-top: 6%;
  margin-right: 12.4%;
  justify-self: right;
  width: 33.5%;
  height: 88%;
  grid-column: 2;
  grid-row: 2;
  background-image: url("/giphy5.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transform: perspective(750px) rotateY(29deg) rotateZ(-20deg);
} */

.headerTitles {
  margin-left: 5vw;
  font-family: 'font1';
  font-weight: 100;
  grid-column: 1 / span 2;
  grid-row: 2;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nameTitle {
  font-family: 'font2';
  font-size: 3em;
  margin-bottom: 1vh;
}

.subTitle {
  margin: 0;
  margin-left: 7vw;
  padding-left: 2vw;
  font-size: 1em;
}

.subTitle span {
  text-decoration: line-through;
}

.scroll-down-icon {
  height: fit-content;
  grid-column: 2;
  grid-row: 3;
  margin-bottom: 5vh;
  display: flex;
  justify-content: center;
  align-self: flex-end;
}

.scroll-down-icon img {
  position: relative;
  top: 0;
  transition: top ease 200ms;
  filter: opacity(70%);
  width: 60px;
}

.scroll-down-icon img:hover {
  top: 6px;
  filter: opacity(90%);
}

.section {
  color: #22201f;
  font-family: 'font1';
  min-height: 50vh;
  /* height: fit-content; */
}

.section1 {
  position: relative;
  text-align: center;
  padding: 12px;
  margin-bottom: 6px;
  height: 200px;
}

.section1:before {
  content: '';
  position: absolute;
  margin-top: -70px;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  background: -webkit-linear-gradient(
    left,
    rgb(247, 253, 253),
    rgb(240, 247, 247)
  );
  transform: skew(0deg, 8deg);
}
.section1:after {
  content: '';
  position: absolute;
  margin-top: -70px;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
  background: -webkit-linear-gradient(
    right,
    rgb(247, 253, 253),
    rgb(240, 247, 247)
  );
  transform: skew(0deg, -8deg);
}

.section2 {
  background: -webkit-linear-gradient(
    right,
    rgb(247, 253, 253),
    rgb(240, 247, 247),
    rgb(250, 250, 250)
  );
  display: flex;
  justify-content: center;
}

.section3 {
  height: fit-content;
  padding-bottom: 1vh;
}

@font-face {
  font-family: 'font1';
  src: url('/fonts/aristotelicadisplayextralighttrial.ttf') format('truetype');
}

@font-face {
  font-family: 'font2';
  src: url('/fonts/aerotis.otf') format('truetype');
}

@media screen and (max-width: 1300px) {
  .App-header {
    font-size: 3vmin;
  }
}

@media screen and (max-width: 1100px) {
  .App-header {
    font-size: 2.1vmin;
  }
}

@media screen and (max-width: 950px) {
  .App-header {
    background-size: 65%;
    background-position: 100% 70%;
  }

  .headerTitles {
    font-size: 3vmin;
    margin-left: 10vmin;
    margin-top: 20vmin;
    grid-row: 1;
    width: fit-content;
  }
}

@media screen and (max-width: 768px) {
  .App-header {
    background-size: 90%;
    background-position: 100% 75%;
  }

  .headerTitles {
    font-size: 22px;
    grid-column: 1 / span 3;
    margin-top: 20vmin;
    margin-left: 20vmin;
    margin-right: 5vmin;
  }
}

@media screen and (max-width: 600px) {
  .App-header {
    background-size: 120%;
    background-position: -15% 60%;
    background-attachment: relative;
  }

  .headerTitles {
    font-size: 15px;
    margin-left: 80px;
    margin-top: 100px;
  }

  .scroll-down-icon img {
    width: 45px;
    top: -30px;
  }
  .scroll-down-icon img:hover {
    top: -30px;
  }

  .scroll-down-icon img:active {
    top: -30px;
    filter: opacity(90%);
  }
}

@media screen and (max-width: 350px) {
  .headerTitles {
    margin-top: 21vh;
    margin-left: 50px;
    font-size: 18px;
  }
}
