:root {
  background-color: white;
}

h3 {
  font-size: 2em;
  font-family: 'font1';
  font-weight: 100;
}

.App-header {
  background-image: url('/mainComputerPic.png');
  background-repeat: no-repeat;
  background-size: 50%, 100%;
  background-position: right, center;
  background-attachment: fixed;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 15% 70% 15%;
  grid-template-rows: 10% 10% 80%;
  font-size: calc(10px + 2vmin);
  color: black;
}

.background2 {
  z-index: -1;
  grid-column: 1 / span 3;
  grid-row: 1 / span 3;
  background-image: url('/markus-spiske-Fa0pTKuoDVY-unsplash.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* ? screen gif behind laptop but doesn't work responsive */
/* .screen {
  z-index: -1;
  margin-top: 6%;
  margin-right: 12.4%;
  justify-self: right;
  width: 33.5%;
  height: 88%;
  grid-column: 2;
  grid-row: 2;
  background-image: url("/giphy5.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transform: perspective(750px) rotateY(29deg) rotateZ(-20deg);
} */

.headerTitles {
  margin-left: 5vw;
  font-family: 'font1';
  font-weight: 100;
  grid-column: 1 / span 2;
  grid-row: 3;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nameTitle {
  font-family: 'font2';
  font-size: 3em;
  margin-bottom: 1vh;
}

.subTitle {
  margin: 0;
  margin-left: 7vw;
  padding-left: 2vw;
  font-size: 1em;
}

.subTitle span {
  text-decoration:line-through;
}

.scroll-down-icon {
  height: fit-content;
  grid-column: 2;
  grid-row: 3;
  margin-bottom: 5vh;
  display: flex;
  justify-content: center;
  align-self: flex-end;
}

.scroll-down-icon img {
  filter: opacity(90%);
  width: 50px;
}

.scroll-down-icon img:hover {
  filter: opacity(100%);
  width: 55px;
}

.section {
  font-family: 'font1';
  min-height: 50vh;
  height: fit-content;
}

.section1bg {
  height: 115vh;
  background-image: url('/whoMe.png');
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: bottom left;
  background-attachment: fixed;
}

.section1 {
  position: relative;
  text-align: center;
  padding: 12px;
  margin-bottom: 6px;
  height: 200px;
}

.section1:before {
  content: '';
  position: absolute;
  margin-top: -70px;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  background: -webkit-linear-gradient(
    left,
    rgb(247, 253, 253),
    rgb(240, 247, 247)
  );
  transform: skew(0deg, 8deg);
}
.section1:after {
  content: '';
  position: absolute;
  margin-top: -70px;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
  background: -webkit-linear-gradient(
    right,
    rgb(247, 253, 253),
    rgb(240, 247, 247)
  );
  transform: skew(0deg, -8deg);
}

.section2 {
  background: -webkit-linear-gradient(
    right,
    rgb(247, 253, 253),
    rgb(240, 247, 247),
    rgb(250, 250, 250)
  );
  display: flex;
  justify-content: center;
}

.section3 {
  height: fit-content;
  padding-bottom: 1vh;
}

@font-face {
  font-family: 'font1';
  src: url('/fonts/Aristotelica-Display-ExtraLight-trial.ttf')
    format('truetype');
}

@font-face {
  font-family: 'font2';
  src: url('/fonts/Aerotis.otf') format('truetype');
}
